body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 1.5rem;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
.container {
    padding: 80px;
}
.content {
    margin-bottom: 20px;
}
h2 {
    position: sticky;
    top: 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    z-index: 1;
    margin: 0;
    border-bottom: 2px solid #388E3C;
}
.tips {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
}
